.main{
    min-height: 85vh;
    margin-inline-end: 5%;
    margin-left: 14px;
    margin-right: 14px;
}

.tstyle{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 6%;
    margin-bottom: 6%;
}